    div {
    display: flex;
  }
  
  span {
    cursor: pointer;
    display: flex; /* Assure que chaque cellule est alignée correctement */
    justify-content: center;
    align-items: center;
    width: 20px;  /* Taille de la cellule, ajustez selon vos besoins */
    height: 20px; /* Taille de la cellule, ajustez selon vos besoins */
  }

  /* game-of-life.component.css */
#gameGrid {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-template-rows: repeat(10, 2rem);
  gap: 2px;
}
.cell {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  cursor: pointer;
}
.cell.alive {
  background-color: #a52323;
}

  